@import url("https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap");

:root {
  --bg-color: #23242a;
  --primary-color: #1c1c1c;
  --second-color: #45f3ff;

  /* ======== font Family ========= */
  --font-family: "Rouge Script", cursive;

  /* ======== Transition ========= */
  --transition: all 0.3s ease-in;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
}

.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--bg-color);
}

.container {
  position: relative;
  width: 380px;
  height: 620px;
  background: var(--primary-color);
  border-radius: 8px;
  overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 620px;
  background: linear-gradient(
    0deg,
    transparent,
    var(--second-color),
    var(--second-color)
  );
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}
.container::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 620px;
  background: linear-gradient(
    0deg,
    transparent,
    var(--second-color),
    var(--second-color)
  );
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form__container {
  position: absolute;
  inset: 2px;
  border-radius: 8px;
  background: #28292d;
  z-index: 10;
  padding: 1rem;
}

.form__container > h2 {
  font-size: 2rem;
  color: white;
  margin-bottom: 1rem;
}

.input__form {
  margin-bottom: 1rem;
}

.input__form > input {
  padding: 0.5rem;
  width: 80%;
}

.input__form > button {
  width: 4.3rem;
  padding: 0.4rem;
  background: #45f3ff;
  border-radius: 5px;
  height: 2.2rem;
  border: none;
  color: var(--bg-color);
  font-weight: 600;
  font-size: 1.2rem;
  font-family: var(--font-family);
  transition: var(--transition);
  cursor: pointer;
}

.input__form > button:hover {
  scale: 1.1;
}

.task__counting {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  color: white;
}

.task {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #eee;
  padding: 10px;
  margin: 7px 0;
  animation: slide-in ease 0.5s;
}

@keyframes slide-in {
  0% {
    transform: translateX(40px);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}

.task::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: red;
}

.completed {
  position: relative;
}

.completed::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: green;
}

.task__name {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: serif;
}

.task-icons {
  font-size: 1rem;
}

.task-icons > * {
  margin-left: 7px;
  cursor: pointer;
}

.No_task {
  color: white;
}
